<nav>
    <div class="nav-wrapper light-blue">
        <span class="text-white p-3"><a href="./" class="brand-logo">CovidBuster</a></span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="text-white" href="./login"><i class="material-icons left">account_circle</i>Login</a></li>
            <li><a href="/map">Map</a></li>
        </ul>
    </div>
    </nav>