<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
<nav>
    <div class="nav-wrapper light-blue">
        <span class="text-white p-3"><a href="/" class="brand-logo" style="text-decoration: none;">CovidBuster</a></span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/map" style="text-decoration: none;">Map</a></li>
            <li><a class="text-white" href="/articles" style="text-decoration: none;">Articles </a></li>
            <% if (typeof username == 'undefined' || username == null) { %>            
                <li><a class="text-white" href="/login" style="text-decoration: none;"><i class="material-icons left">account_circle</i>Login</a></li>
            <% } else { %>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                            <i class="material-icons left">account_circle</i><%= username %></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </li>
            <% } %> 
            
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>
        $('.dropdown-toggle').dropdown();
    </script>

</nav>