<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs', { username: username}) %> 
    <h1 class="center-align p-5">Page does not exist</h1>
</body>
</html>