<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body> 
    <%- include('./partials/nav.ejs', { username: username}) %>
    
    <div>
        <form action="/news" method = "GET">
            <button class="waves-effect waves-light btn right mt-3 bg-info" id="fetchBtn"><i class="material-icons left">announcement</i>News</button> 
        </form>
</body>
</html>