<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/login/profile" method="POST">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_prefix" type="text" class="validate" name="Email">
                    <label for="icon_prefix">Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="icon_prefix" type="password" class="validate" name="Password">
                    <label for="icon_prefix">Password</label>
                </div>
                <button class="center-align btn" type="submit">Login</button>
            </form>
            <br>
            <a href="/login/register">I don't have an account</a>
        </div>
    </div>  
</body>
</html>