<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1 class="center-align p-5">Profile Page</h1>
    <h2 class="center-align p-5">Coming Soon...</h2>
</body>
</html>