
  <link rel="stylesheet" href="./home.component.css">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/img4.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/img2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/img3.png" alt="Third slide">
        </div>
      </div>
  </div>

  <div style="margin-top: 80px; text-align:center; width:100%;">
    <div class="card details text-white bg-danger mb-3">
        <div class="card-header">Total Confirmed</div>
        <div class="card-body">
            <h5 class="card-title" id="conf">
              {{covidCases.TotalConfirmed}}
            </h5>
        </div>
    </div>
    <div class="card details text-white bg-success mb-3">
        <div class="card-header">Total Recovered</div>
        <div class="card-body">
            <h5 class="card-title" id="rec">
              {{covidCases.TotalRecovered}}
            </h5>
        </div>
    </div>
    <div class="card details text-white bg-secondary mb-3">
        <div class="card-header">Total Deceased</div>
        <div class="card-body">
            <h5 class="card-title" id="dec">
              {{covidCases.TotalDeaths}}
            </h5>
        </div>
    </div>
</div>

<div class="parent">
  <a style="text-decoration: none;" href="/news">
      <div class="card bg-dark text-white " id="trend-card"><img class="card-img absolute" src="../../../assets/covid.png" alt="Card image">
          <div class="card-img-overlay">
              <h5 class="card-title">COVID-19 NEWS</h5>
              <p class="card-text">Stay aware of the latest information on the COVID-19 outbreak by reading updates available on this website and through your national and local public health authority. </p>

          </div>
      </div>
  </a>
  <a style="text-decoration: none;" href="/maps">
      <div class="card bg-dark text-white " id="map-card"><img class="card-img absolute" src="../../../assets/mapImage.png" alt="Card image">
          <div class="card-img-overlay">
              <h5 class="card-title">COVID-19 MAP</h5>
              <p class="card-text">View an up-to-date map and statistics of the spread of Covid-19 with the most recently upated stats from reliable sources.</p>

          </div>
      </div>
  </a>
  <a style="text-decoration: none;" href="/articles">
      <div class="card bg-dark text-white " id="map-card"><img class="card-img absolute" src="../../../assets/arti.png" alt="Card image">
          <div class="card-img-overlay">
              <h5 class="card-title">Write Articles</h5>
              <p class="card-text">Pen down your thoughts about the pandemic</p>

          </div>
      </div>
  </a>
</div>

<script>
    $('.carousel').carousel({interval: 1000});
</script>