<div class="container">
    <div class="row">
      <div class="col">
        <img src="../../../assets/mobile_login.svg" alt="login illustration" class="illustration">
      </div>
      <div class="col">
        <div class="card">
          <h3 class="signin-text mt-4 mb-4">WELCOME</h3>
          <form>
            <div class="form-group mb-3">
                <!-- <span class="input-group-text" id="basic-addon1">Email</span> -->
                <label for="email">Email</label>
                <br>
                <input type="email" name="email" class="form-control">
            </div>

            <div class="form-group mb-3">
                <!-- <span class="input-group-text" id="basic-addon1">Password</span> -->
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" class="form-control">
            </div>

            <div class="form-group mb-4">
              <button class="btn btn-primary" id="login">Log In</button>
            </div>
            
            <div class="form-group mb-3">
              <p class="text-center text-secondary fs-6">OR SIGN IN WITH</p>
              <div class="d-flex justify-content-around mb-3">
                <button class="btn-dark">Google</button>
                <button class="btn-primary">Facebook</button>
              </div>
            </div>

            <div class="d-flex justify-content-center mb-1">
              <a href="/register">Don't have an account</a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
</div>
