<div class="row">
    <div class="col-4">
        <img src="../../../assets/register.svg" alt="register illustration" class="illustration">
    </div>
    <div class="col-8">
        <div class="card">
            <form>
                <div class="input-group d-flex justify-content-between mb-2">
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" name="fname">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" name="lname">
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label>Username</label>
                    <input class="form-control" name="username">
                </div>

                <div class="form-group mb-2">
                    <label>Email</label>
                    <input class="form-control" name="email">
                </div>

                <div class="input-group  d-flex justify-content-between mb-3">
                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" name="city">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input class="form-control" name="state">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Password</label>
                    <input class="form-control" name="password">
                </div>

                <div class="form-group mb-2">
                    <label>Confirm Password</label>
                    <input class="form-control" name="password_re">
                </div>

                <div class="form-group d-flex justify-content-center mb-3">
                    <button class="btn btn-primary mb-2">Register</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
